* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b1b1b;
}
li,
a,
button {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10%;
}
.logo {
  cursor: pointer;
  max-height: 40px;
  max-width: auto;
}
.menu {
  list-style: none;
}
.menu li {
  display: inline-block;
  padding: 0px 20px;
}
.menu li a {
  transition: all 0.3s ease 0s;
}

.menu li a:hover {
  color: grey;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: darkslategray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: white solid 2px;
  animation-name: fade-in;
  animation-duration: 0.3s;
}
@keyframes fade-in {
  0% {
    opacity: 0.2;
    margin: 20px;
  }
  25% {
    opacity: 0.4;
    margin: 15px;
  }
  50% {
    opacity: 0.6;
    margin: 10px;
  }
  75% {
    opacity: 0.8;
    margin: 5px;
  }
  100% {
    opacity: 1;
    margin: 0;
  }
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

button {
  padding: 9px 25px;
  background-color: rgba(39, 51, 51, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.loginbtn {
  margin-left: auto;
  margin-right: 20px;
}

button:hover {
  background-color: rgba(39, 51, 51, 0.7);
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  font-size: 1em;
  margin-bottom: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.burgerbtn {
  display: none;
}

@media screen and (max-width: 1185px) {
  .burgerbtn {
    display: block;
    font-size: 30px;
  }

  a,
  .dropbtn {
    display: inline-block;
    color: white;
  }

  .dropdown {
    display: inline-block;
    margin-left: auto;
    padding: 20px 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: darkslategray;
    left: 0;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 20px;
    border-top: white solid 2px;
  }
  @keyframes fade-in {
    0% {
      opacity: 0.2;
      margin: 40px;
    }
    25% {
      opacity: 0.4;
      margin: 35px;
    }
    50% {
      opacity: 0.6;
      margin: 30px;
    }
    75% {
      opacity: 0.8;
      margin: 25px;
    }
    100% {
      opacity: 1;
      margin: 20px;
    }
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: black;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .loginbtn {
    margin-right: 0;
  }
  .menu,
  .buy,
  .loginbtn {
    display: none;
  }
}
/*--------------------Start skyrim--------------------------*/
/*---------------------welcome page ----------------------------*/
#welcome-sky-1 {
  background-image: url(Skyrim-Hero3.jpg);
  width: 100%;
}
.welcome-sky {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.welcome-container-sky {
  margin: auto;
  padding: 80px 0;
  max-width: 1279px;
}
.welcome-main-sky {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
  opacity: 0.7;
}

.welcome-item-sky {
  flex: 1 1 30%;
  padding-bottom: 30px;
  color: white;
  font-size: 40px;
}

/*-----------Welcome laptop----------------*/
@media screen and (max-width: 1285px) {
  .welcome-container-sky {
    padding: 60px 0;
  }
  .welcome-main-sky {
    padding: 20px 0;
  }
  .welcome-item-sky {
    font-size: 30px;
  }
}
/*-----------Welcome phone----------------*/
@media screen and (max-width: 500px) {
  header {
    padding: 0 5%;
  }
  .logo {
    max-height: 30px;
  }
  .burgerbtn {
    display: block;
    font-size: 25px;
  }
  .welcome-container-sky {
    padding: 20px 0;
  }
  .welcome-main-sky {
    padding: 0;
  }
  .welcome-item-sky {
    font-size: 30px;
  }
}
/*------------------News--------------------*/
#news-sky-1 {
  background-image: url(Stars.jpg);
  max-width: 100%;
}
.news-sky {
  background-size: cover;
  background-repeat: no-repeat;
}

.news-container {
  margin: auto;
  padding: 40px 0;
  max-width: 1279px;
}

.news-header-sky {
  display: block;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 2.5rem;
  line-height: 2.25rem;
  margin: 0 0 30px;
  padding: 20px 0 0;
  position: relative;
  width: 100%;
  max-width: 1279;
}

.news-items-sky {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.news-item {
  flex: 1 1 30%;
  margin: 0 5px;
  padding-bottom: 30px;
}

.image-link {
  cursor: pointer;
  display: block;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  transition: 300ms ease;
}
.image-link:hover {
  opacity: 0.6;
}
.news-image {
  width: 412px;
  height: 250px;
}
.news-item-content {
  color: white;
  width: 412px;
}
.read-more {
  text-decoration: underline;
  font-weight: bold;
}

/*---------------News laptop------------*/
@media screen and (max-width: 1285px) {
  .news-items-sky {
    flex-direction: column;
    justify-content: center;
  }
  .news-item {
    flex: 1 1 100%;
    margin: 0px auto;
    max-width: 800px;
  }
  .news-image {
    width: 100%;
    height: auto;
  }
  .news-item-content {
    width: 100%;
    height: auto;
  }
  .news-header-sky {
    font-size: 2rem;
    line-height: 1.75rem;
    margin: 0 0 30px;
    padding: 20px 20px 0;
    position: relative;
    width: 100%;
    max-width: 1279;
  }
}
/*-------------Start oblivion------------------*/
/*------------welcome oblivion------------------*/
#welcome-obl-1 {
  background-image: url(Oblivion.png);
  width: 100%;
}
.welcome-sky {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.welcome-container-sky {
  margin: auto;
  padding: 80px 0;
  max-width: 1279px;
}
.welcome-main-sky {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
  opacity: 0.7;
}

.welcome-item-sky {
  flex: 1 1 30%;
  padding-bottom: 30px;
  color: white;
  font-size: 40px;
}

/*-----------Welcome laptop----------------*/
@media screen and (max-width: 1285px) {
  .welcome-container-sky {
    padding: 60px 0;
  }
  .welcome-main-sky {
    padding: 20px 0;
  }
  .welcome-item-sky {
    font-size: 30px;
  }
}
/*-----------Welcome phone----------------*/
@media screen and (max-width: 500px) {
  header {
    padding: 0 5%;
  }
  .logo {
    max-height: 30px;
  }
  .burgerbtn {
    display: block;
    font-size: 25px;
  }
  .welcome-container-sky {
    padding: 20px 0;
  }
  .welcome-main-sky {
    padding: 0;
  }
  .welcome-item-sky {
    font-size: 30px;
  }
}
/*------------------News--------------------*/
#news-sky-1 {
  background-image: url(Stars.jpg);
  max-width: 100%;
}
.news-sky {
  background-size: cover;
  background-repeat: no-repeat;
}

.news-container {
  margin: auto;
  padding: 40px 0;
  max-width: 1279px;
}

.news-header-sky {
  display: block;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 2.5rem;
  line-height: 2.25rem;
  margin: 0 0 30px;
  padding: 20px 0 0;
  position: relative;
  width: 100%;
  max-width: 1279;
}

.news-items-sky {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.news-item {
  flex: 1 1 30%;
  margin: 0 5px;
  padding-bottom: 30px;
}

.image-link {
  cursor: pointer;
  display: block;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  transition: 300ms ease;
}
.image-link:hover {
  opacity: 0.6;
}
.news-image {
  width: 412px;
  height: 250px;
}
.news-item-content {
  color: white;
  width: 412px;
}
.read-more {
  text-decoration: underline;
  font-weight: bold;
}

/*---------------News laptop------------*/
@media screen and (max-width: 1285px) {
  .news-items-sky {
    flex-direction: column;
    justify-content: center;
  }
  .news-item {
    flex: 1 1 100%;
    margin: 0px auto;
    max-width: 800px;
  }
  .news-image {
    width: 100%;
    height: auto;
  }
  .news-item-content {
    width: 100%;
    height: auto;
  }
  .news-header-sky {
    font-size: 2rem;
    line-height: 1.75rem;
    margin: 0 0 30px;
    padding: 20px 20px 0;
    position: relative;
    width: 100%;
    max-width: 1279;
  }
}

/*--------------Start mirrorwind--------------*/
#welcome-mir-1 {
  background-image: url(Mirrorwind.jpg);
  width: 100%;
}
/*----------------Start Home----------------*/
#welcome-elsc-1 {
  background-image: url(Elder-scrolls-hero.jpg);
  width: 100%;
}
/*----------------Login---------------*/

.login {
  background-color: white;
  max-width: 100%;
  height: auto;
  display: flex;
}

.login-container {
  height: auto;
  padding: 0;
  margin: 80px auto;
  max-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}
.login-form {
  max-width: 100%;
  padding: 0 auto;
  margin: auto;
}
.login-header {
  font-size: 2.5rem;
  text-align: center;
  line-height: 2.25rem;
  margin: 0 0 30px;
  padding: 20px 0 0;
  position: relative;
  max-width: 100%;
}

.login-item {
  padding: 100px;
}
#email {
  margin-bottom: 20px;
}
#email,
#password {
  padding: 10px 0;
}
.login-link {
  display: block;
  color: black;
  padding: 10px 0;
}
input[type="text"] {
  border: none;
  border-bottom: black solid 2px;
}
input[type="text"]:focus {
  outline: none;
}
input[type="submit"] {
  margin-bottom: 30px;
  padding: 15px;
}
.bethesda-logo-login {
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .login-form {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .login-header {
    padding: 0 40px;
    font-size: 2rem;
    text-align: left;
    line-height: 1.75rem;
    margin: 0 0 30px;
    padding: 20px 0 0;
    position: relative;
    max-width: 100%;
  }

  .login-item {
    padding: 0 40px;
    max-width: 100%;
  }
  .login-container {
    height: auto;
    padding: 0;
    margin: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
  }
  input[type="submit"] {
    margin-bottom: 30px;
    padding: 15px;
  }
  .bethesda-logo-login {
    margin-bottom: 10px;
  }
}
/*---------------footer---------------*/
.footer-container {
  background-color: #1b1b1b;
  padding-bottom: 50px;
}
.footer {
  width: 80%;
  height: 25vh;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer-heading a:hover {
  color: grey;
  transition: 0.3s ease;
}

@media screen and (max-width: 630px) {
  .footer-3 {
    display: none;
  }
}
